<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.razorfish.proximityPlugin"
    version="1.0.0">
    <name>Proximity Plugin</name>
    <description>Proximity Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ibeacon,beacon,bluetooth,le</keywords>
    <repo>https://github.com/petermetz/cordova-plugin-ibeacon.git</repo>

    <js-module src="www/Proximity.js">
        <clobbers target="Proximity" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ProximityPlugin">
                <param name="ios-package" value="proximityPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Implementation/AppDelegate+RadiusNetworksProximityKit.h" />
        <source-file src="src/ios/Implementation/AppDelegate+RadiusNetworksProximityKit.m" />
        <header-file src="src/ios/Implementation/proximityPlugin.h" />
        <source-file src="src/ios/Implementation/proximityPlugin.m" />

        <framework src="CoreLocation.framework" />
        <framework src="src/ios/Frameworks/ProximityKit.framework" custom="true" />
    </platform>
</plugin>
